@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Seja bem-vindo</h1>

    <img class="hom" img src="~/img/Oce.png" alt="exemplo" />
</div>

