@page
@model IndexModel
@{
    ViewData["Title"] = "Loja Ecológica";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>.</title>
    <link rel="stylesheet" href="/css/Loja.css" />
</head>
<body>
    <section id="produtos">

        <div class="container">
        
            <div class="produto">
                <img class="pro1" img src="~/img/Produto1.png" alt="exemplo" />
                <h3>Produto 1</h3>
                <p>Talheres de madeira.</p>
                <p class="preco">R$ 15,99</p>
                <button>Comprar</button>
            </div>
            <div class="produto">
                <img class="pro2" img src="~/img/Produto2.png" alt="exemplo" />
                <h3>Produto 2</h3>
                <p>Copo ecológico com tampa.</p>
                <p class="preco">R$ 12,50</p>
                <button>Comprar</button>
            </div>
            <div class="produto">
                <img class="pro3" img src="~/img/Produto3.png" alt="exemplo" />
                <h3>Produto 3 </h3>
                <p>Kit ecológico de madeira</p>
                <p class="preco">R$28,30</p>
                <button>Comprar</button>
            </div>
            <div class="produto">
                <img class="pro4" img src="~/img/Produto4.png" alt="exemplo" />
                <h3>Produto 4 </h3>
                <p>Canudo de Papel</p>
                <p class="preco">R$5,90</p>
                <button>Comprar</button>
            </div>
            <div class="produto">
                <img class="pro5" img src="~/img/Produto5.png" alt="exemplo" />
                <h3>Produto 5 </h3>
                <p>Bucha vegetal</p>
                <p class="preco">R$5,20</p>
                <button>Comprar</button>
            </div>
            <div class="produto">
                <img class="pro6" img src="~/img/Produto6.png" alt="exemplo" />
                <h3>Produto 6 </h3>
                <p>Vaso de planta Eco</p>
                <p class="preco">R$5,00</p>
                <button>Comprar</button>
            </div>
            <div class="produto">
                <img class="pro7" img src="~/img/Produto7.png" alt="exemplo" />
                <h3>Produto 7 </h3>
                <p>Canudo de plástico biodegradável</p>
                <p class="preco">R$10,00</p>
                <button>Comprar</button>
            </div>
            <div class="produto">
                <img class="pro8" img src="~/img/Produto8.png" alt="exemplo" />
                <h3>Produto 8 </h3>
                <p>Sabão Natural</p>
                <p class="preco">R$7,00</p>
                <button>Comprar</button>
            </div>
           
        </div>
    </section>
  
</body>
</html>
