@page
@model IndexModel
@{
    ViewData["Title"] = "Parceria";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>.</title>
    <link rel="stylesheet" href="/css/site.css" />
</head>
<body>
    <h1 className="Titulo">Parcerias</h1>
    <h2 className="txt">Motivos e Vantagens</h2>
    <img class="Parce" img src="~/img/Parceria.png" alt="" />
    <p>
        Impacto Ambiental Positivo: A EcoLife foca na redução do uso de plásticos, um problema ambiental significativo. Ao se associar com eles, sua empresa pode contribuir diretamente para a diminuição da poluição e promover práticas mais sustentáveis.</p>
    <br>
    <p>
        Responsabilidade Social Corporativa: Associar-se com a EcoLife pode fortalecer sua estratégia de responsabilidade social corporativa (CSR), demonstrando seu compromisso com práticas comerciais éticas e sustentáveis.>
   <h3 className="Entre"> Entre em contato></h3>
   <h4 className="Numero"> Telefone:(71) 9xxxx-xxxx</h4>
    <style>

        .Titulo {
            font-family: Kodchasan;
            font-size: 20px;
            color: lawngreen;
        }
        
        .txt {
            font-family: Kodchasan;
            font-size: 13px;
       }
    </style>
    </body>
</html>